package $package_name;

import java.sql.PreparedStatement;
import java.sql.SQLException;

public class $bean_name $extendInfo{

	// original SQL
	//   $originalSql

	private final static String SQL_STATEMENT =
			"$preparedSql";

	$getOverride
	public String getSql() {
		return SQL_STATEMENT;
	}

#foreach ($data in $list)

	private $data.type $data.CamelName;

	public void set${data.PascalName}(${data.type} ${data.CamelName}){
		this.$data.CamelName = $data.CamelName;
	}

	public $data.type get${data.PascalName}(){
		return $data.CamelName;
	}
#end

	$getOverride
	public void addBach(PreparedStatement preparedStatement) throws SQLException{

#foreach ($data in $list)
		preparedStatement.set$data.Type($data.count, $data.CamelName);
#end

		preparedStatement.addBatch();
	}
}
