package sql2bean.dao;

import java.sql.ResultSet;
import java.sql.SQLException;

public class SelectSQLData implements ISQLSelect<SelectSQLData.Data>{

	// original SQL
	//   ${originalSql}

	private final static String SQL_STATEMENT =
			"$preparedSql";

	@Override
	public String getSql() {
		return SQL_STATEMENT;
	}

#foreach ($data in $list)
	// $data.key
	private $data.type $data.keyAsCamelName;
	public void set${data.keyAsPascalName}(${data.type} ${data.keyAsCamelName}){ this.$data.keyAsCamelName = $data.keyAsCamelName;}
	public $data.type get${data.keyAsPascalName}(){ return $data.keyAsCamelName;}

#end

	public class Data{
#foreach ($data in $list)

		// $data.key
		private $data.type $data.keyAsCamelName;
		public void set${data.keyAsPascalName}(${data.type} ${data.keyAsCamelName}){ this.$data.keyAsCamelName = $data.keyAsCamelName;}
		public $data.type get${data.keyAsPascalName}(){ return $data.keyAsCamelName;}
#end
	}

	@Override
	public Data convert(ResultSet result) throws SQLException {

		Data data = new Data();

#foreach ($data in $list)
		data.set${data.keyAsPascalName}(result.get${data.type.ClassName}(${velocityCount}));
#end

		return data;
	}
}